@model UserProject

<form class="form" method="post" action="/Admin/Project/AddProject">
    <input class="title" asp-for="Title" placeholder="Titel" />

    <div class="button-section">
        <button id="cancel-project-to-add-project" class="cancel-view-to-add-a-project" type="button">Abbrechen</button>
        <button class="add" type="submit">Projekt hinzufügen</button>
    </div>
</form>
