@model UserProject

<form method="post" action="/Admin/Project/DetailProject" class="detail-form">
    <i class="fa-solid fa-xmark detail-close-button" onclick="CloseModalProjectDetail()"></i>

    <input class="detial-title" asp-for="Title" placeholder="Titel" />

    <div class="detail-checkboxes">
        <input asp-for="Id" hidden />
    </div>

    <div class="detail-checkboxes">
        <input asp-for="ApplicationUserId" hidden />
    </div>

    <div class="detail-checkboxes">
        <input asp-for="IsLiked"/>
        <label asp-for="IsDeleted">Gefällt mir</label>
    </div>

    <div class="detail-checkboxes">
        <input asp-for="IsDeleted" hidden/>
    </div>

    <div class="">
        <button class="store-entry" type="submit">Speichern</button>
    </div>
</form>
