<div class="starting-page-body" id="starting-page-body">
    <nav class="navbar starting-page-navbar">
        <div class="logo-wrapper">
            <div class="logo"><img src="/Bilder/logo.png"/></div>
        </div>
        <div class="link-wrapper">
            <a class="nav-link " id="register" asp-area="User" asp-controller="UserManage" asp-action="Login">Anmelden <i class="fa-solid fa-user"></i></a>
        </div>
    </nav>

    <div class="stargin-page-main-element">
        <div class="main-content">
            <h1>The Power  <span style="display: block"> of Good Advice</span> </h1>
            <h5>I'm a paragraph. Click here to add your own text and edit me</h5>
            <a asp-area="User" asp-controller="UserManage" asp-action="Register" class="get-started-button">Starte noch heute</a>
        </div>
        <footer class="footer">

        </footer>
    </div>
</div>
