<div class="starting-page-body" id="starting-page-body">
    <nav class="navbar starting-page-navbar">
        <div class="logo-wrapper">
            <div class="logo"><img src="/Bilder/todoapplogo.png"/></div>
        </div>
        <div class="link-wrapper">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Login">Anmelden <i class="fa-solid fa-user"></i></a>
        </div>
    </nav>

    <div class="stargin-page-main-element">
        <div class="main-content">
            <h1>Max's Todo</h1>
            <img src="~/Bilder/new-starting-page-content.png"/>
            <a asp-area="Identity" asp-page="/Account/Register" class="get-started-button">Starte noch heute</a>
        </div>
        <footer class="footer">

        </footer>
    </div>
</div>
