@model TodoEntry


<div>
    <h1>Add Todo</h1>
    <input asp-for="Title" placeholder="Titel"/>
    <input asp-for="Description" placeholder="Beschreibung" />
    <input asp-for="StartDate" placeholder="Vom" />
    <input asp-for="EndDate" placeholder="Bis" />
    <input asp-for="Title" placeholder="Title" />
</div>