form {
    background: white;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 30px;
    position: fixed;
    top: 100px;
    left: 8%;
    border-radius: 10px;
    box-shadow: 0 0px 9px rgb(250 250 250 / 0.2);
}

form > input {
    border: none;
    margin-top: 8px;
}

form input:active {
    margin: none;
}

.title {
    font-size: 24px;
}

.select-section > select {
    border: none;
    border-radius: 8px;
    padding: 5px;
}

.button-section {
    margin-top: 10px;
}

.button-section > button {
    border: none;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
}