form {
    background: white;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 30px;
    position: fixed;
    top: 100px;
    left: 8%;
    border-radius: 10px;
    box-shadow: 0 0px 400px black;
}

form > input {
    border: none;
    margin-top: 8px;
}

form input:active {
    margin: none;
}

.title {
    font-size: 24px;
}

.select-section > select {
    border: none;
    border-radius: 8px;
    padding: 5px;
}

.button-section {
    margin-top: 10px;
}

.button-section > button {
    border: none;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
}

.add {
    background-color: #1da19b;
    color: white;
    margin-left: 1px;
}

@media screen and (width: 375px) {
    form {
        left: 10%;
    }
}

@media screen and (width: 390px) {
    form {
        left: 12%;
    }
}

@media screen and (width: 393px) {
    form {
        left: 12%;
    }
}

@media screen and (width: 412px) {
    form {
        left: 13%;
    }
}

@media screen and (width: 540px) {
    form {
        left: 14%;
        width: 400px;
    }

    .add {
        margin-left: 10px;
    }
}

@media screen and (width: 768px) {
    form {
        left: 17%;
        width: 500px;
    }
}

@media screen and (width: 820px) {
    form {
        left: 16%;
        width: 550px;
    }
}

@media screen and (width: 912px) {
    form {
        left: 16%;
        width: 600px;
    }
}

@media screen and (width: 1024px) {
    form {
        left: 18%;
        width: 650px;
    }
}

@media screen and (width: 1280px) {
    form {
        left: 22%;
        width: 700px;
    }
}

@media screen and (width: 1400px) {
    form {
        left: 24%;
        width: 750px;
    }
}

@media screen and (width: 1500px) {
    form {
        left: 24%;
        width: 800px;
    }
}

@media screen and (width: 1600px) {
    form {
        left: 24%;
        width: 850px;
    }
}

@media screen and (min-width: 1660px) {
    form {
        left: 26%;
        width: 850px;
    }
}