.Results {
    background-color: white;
    border-radius: 5px;
    width: 200px;
    position: fixed;
    margin-top: 5px;
    box-shadow: 0 0px 400px black;
    z-index: 900;
    padding: 10px;
}

.Results > a {
    display: flex;
    text-decoration: none;
    color: black;
    z-index: 900;
    padding: 5px;
    border-radius: 2px;
}

.Results > a:hover {
    background-color: #eaeaea;
}