/*1. Basic*/
/*2. Navbar*/
/*3. Hamburgermenu*/
/*4. Search bar*/

/*Basic*/

html {
    font-size: 14px;
    font-family: 'Noto Sans Mono', monospace;
    font-family: 'Noto Serif', serif;
    font-family: 'Open Sans', sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: linear-gradient(30deg, rgb(0, 0, 0), #1f2833);
    background-attachment: fixed;
}

/*Navbar*/

.navbar {
    background-color: #1da19b;
    padding: 20px;
}

/*Hamburgermenu*/

.hamburger-menu-drop-down {
    height: 94vh;
    width: 20rem;
    background: linear-gradient(0deg, rgb(0, 0, 0), #1f2833);
    background-attachment: fixed;
    padding: 20px;
}

.hamburger-menu-drop-down > a {
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    display: block;
}

.hamburger-menu-drop-down > a > i {
    margin-right: 10px;
}

.hamburger-menu-drop-down > a:hover {
    background-color: black;
}

/*Search bar*/

.search-bar-header {
    border: none;
    padding: 0px;
}
.search-bar-header > input:focus,
.search-bar-header > input:active {
    border: none;
}

.search-bar-header {
    position: fixed;
    top: 100px;
    left: 27%;
}

.search-bar-header > i {
    position: relative;
    right: 20px;
}