/*1. Basic*/
/*2. Navbar*/
/*3. Hamburgermenu*/
/*4. Search bar*/

/*Basic*/

html {
    font-family: 'Lato', sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: linear-gradient(30deg, rgb(230, 230, 230), white);
    background-attachment: fixed;
}

.home-button {
    margin-right: 0px;
}

/*Navbar*/

.navbar {
    background-color: #1da19b;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/*Hamburgermenu*/

.hamburger-menu-drop-down {
    height: 100rem;
    width: 20rem;
    background: linear-gradient(0deg, rgb(0, 0, 0), #1f2833);
    background-attachment: fixed;
    padding: 20px;
    position: fixed;
    top: 53px;
}

.hamburger-menu-drop-down > a {
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    display: block;
}

.hamburger-menu-drop-down > a > i {
    margin-right: 10px;
}

.hamburger-menu-drop-down > a:hover {
    background-color: black;
}

@media screen and (width: 540px) {
    .hamburger-menu-drop-down {
        width: 30rem;
        height: 666px
    }
}

@media screen and (width: 768px) {
    .hamburger-menu-drop-down {
        width: 20rem;
        height: 968px;
    }
}

@media screen and (width: 820px) {
    .hamburger-menu-drop-down {
        height: 1124px;
    }
}

@media screen and (width: 912px) {
    .hamburger-menu-drop-down {
        height: 1312px;
    }
}

@media screen and (width: 1024px) {
    .hamburger-menu-drop-down {
        height: 544px;
    }
}

@media screen and (width: 1280px) {
    .hamburger-menu-drop-down {
        height: 744px;
    }
}

/*Search bar*/

.search-bar-header {
    border: none;
    padding: 0px;
    z-index: 2;
}

.search-bar-header > input {
    border-radius: 5px;
    width: 200px;
    height: 30px;
    padding: 5px!important;
}

input[type="text" i] {
    padding: 0px;
}

.search-bar-header > input:active {
    padding: 0px;
    margin: 0px;
}

.search-bar-header > input:focus,
.search-bar-header > input:active {
    border: none;
}

.search-bar-header {
    position: fixed;
    top: 14px;
    left: 31%;
}

.search-bar-header > i {
    position: relative;
    right: 25px;
}

@media screen and (width: 375px) {
    .search-bar-header {
        left: 33%;
    }
}

@media screen and (width: 390px) {
    .search-bar-header {
        left: 34%;
    }
}

@media screen and (width: 393px) {
    .search-bar-header {
        left: 34%;
    }
}

@media screen and (width: 412px) {
    .search-bar-header {
        left: 36%;
    }
}

@media screen and (width: 540px) {
    .search-bar-header {
        left: 25%;
    }

    .search-bar-header > input {
        width: 200px;
    }

    .home-button {
        margin-right: 180px;
    }

    .search-bar-button {
        display: none;
    }
}

@media screen and (width: 768px) {
    .search-bar-header {
        left: 25%;
    }

    .search-bar-header > input {
        width: 300px;
    }

    .home-button {
        margin-right: 330px;
    }

    .search-bar-button {
        display: none;
    }
}

@media screen and (width: 820px) {
    .search-bar-header {
        left: 25%;
    }

    .search-bar-header > input {
         width: 300px;
    }

    .home-button {
        margin-right: 330px;
    }

    .search-bar-button {
        display: none;
    }
}

@media screen and (width: 1024px) {
    .search-bar-header > input {
        width: 300px;
    }
}

@media screen and (width: 1280px) {
    .search-bar-header > input {
        width: 300px;
    }
}

@media screen and (min-width: 1480px) {
    .search-bar-header > input {
        width: 400px;
    }
}

input {
    border: none!important;
}

input:active,
input:hover
input:focus {
    border: none !important;
    outline: none!important;
}

textarea:focus {
    outline: 0!important;
    border: none!important;
}

*:focus {
    outline: 0 !important;
}