*:not(.image) {
    z-index: 100;
}

html {
    font-family: "Roboto" !important;
    height: 100vh;
    width: 100%;
}

.starting-page-navbar {
    position: absolute !important;
    margin: 0px !important;
    background-color: inherit !important;
}

.starting-page-body {
    width: 100%;
    height: )0vh;
    color: white;
}

.image-container {
    position: fixed;
}

a {
    margin-top: 60px;
    color: white;
}

button {
    margin-top: 30px;
    background-color: #1da19b !important;
}

.image {
    position: fixed;
    right: 10%;
    top: 30%;
    height: 29%;
    width: 80%;
    z-index: 1;
    opacity: 0.6;
}

.overlay1,
.overlay2,
.overlay3,
.overlay4 {
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.logo-wrapper {
    width: 10%;
}

@media screen and (min-width: 810px) {
    .image {
        right: 16%;
        top: 30%;
        height: 35%;
        width: 70%;
    }
}

@media screen and (min-width: 1300px) {
    .image {
        right: 5%;
        top: 30%;
        height: 50%;
        width: 45%;
    }

    .main-content > div > h1 {
        margin-top: 20vh!important;
        text-align: left;
        margin-left: 10%;
    }

    .main-content > div > h5 {
        margin-top: 10vh!important;
    }

    button {
        margin-top: 30px;
        background-color: #1da19b !important;
    }

    .button-wrapper {
        display: block;
        float: left;
        margin-left: 10%;
    }
}

.logo-main-page > img {
    width: 40px;
    height: 40px;
    position: relative;
    left: 10%;
}

.link-wrapper {
    width: 50%;
}

.link-wrapper > a {
    position: relative;
    right: -10%;
    font-size: 17px;
    width: 100px;
    margin: 0px;
    padding: 0px;
    display: inline;
    color: white;
}

.link-wrapper > a > i {
    margin-left: 10px;
}

.stargin-page-main-element {
    text-align: center;
    height: 0vh;
}

.main-content {
    
}

.main-content > h1 {
    margin-bottom: 1vh;
    color: white;
    font-size: 2rem !important;
    float: left;
    text-align: left;
    position: relative;
    top: -40px;
}

.main-content > div > h1 {
    margin-top: 13vh;
    text-align: left;
    margin-left: 10%;
}

.main-content > div > h5 {
        margin-top: 50vh;
        text-align: left;
        margin-left: 10%;
}


.main-content > img {
        width: 300px;
        display: block;
        margin: auto;
        margin-bottom: 10vh;
    }

.starting-page-body > main > .main-content > .get-started-button {
    background-color: #1da19b;
    border: 1px solid black;
    padding: 5px;
    border-radius: 4px;
    color: white;
    font-size: 15px;
}

@media screen and (min-width: 412px) {
    .link-wrapper > a {
        font-size: 17px;
        right: -15%;
    }

    .logo > img {
        left: 55%;
    }
}

@media screen and (min-width: 414px) {
    .main-content > h1 {
        margin-bottom: 10vh;
    }
 
}

@media screen and (min-width: 540px) {
    .link-wrapper > a {
        right: -55%;
    }

    .logo > img {
        left: 35%;
    }
}

@media screen and (min-width: 768px) {
    .main-content > h1 {
        margin-bottom: 10vh;
    }

    .main-content > img {
        width: 500px;
    }

    .starting-page-body > main > .main-content > .get-started-button {
        font-size: 25px;
    }

    .link-wrapper > a {
        font-size: 23px;
        right: -45%;
    }

    .logo > img {
        left: 35%;
    }
}

@media screen and (min-width: 912px) {
    .main-content > h1 {
        margin-bottom: -3vh;
        font-size: 50px;
    }

    .main-content > img {
        width: 700px;
    }

    .starting-page-body > main > .main-content > .get-started-button {
        font-size: 35px;
    }

    .link-wrapper > a {
        font-size: 29px;
    }
}

@media screen and (min-width: 1024px) {
    .main-content > h1 {
        margin-bottom: -3vh;
        font-size: 30px;
    }

    .main-content > img {
        width: 300px;
    }

    .starting-page-body > main > .main-content > .get-started-button {
        font-size: 20px;
    }

    .link-wrapper > a {
        font-size: 15px;
        right: -65%;
    }

    .starting-page-navbar {
        padding: 50px 200px 50px 200px !important;
    }
}

@media screen and (min-width: 1700px) {
    .main-content > h1 {
        margin-bottom: -10vh;
        font-size: 3rem;
    }

    .main-content > img {
        width: 700px;
        margin-bottom: 5vh;
    }

    .starting-page-body > main > .main-content > .get-started-button {
        font-size: 20px;
    }

    .link-wrapper > a {
        font-size: 18px;
        right: -80%;

    }

    .starting-page-navbar {
        padding: 50px 200px 50px 200px !important;
    }
}