hr {
    z-index: -1;
}

.body {
    margin-top: 2rem;
    padding: 3rem;
}

.body-for-future {
    padding-top: 5rem !important;
    padding: 0rem;
}

@media screen and (min-width: 1024px) {
    
}

@media screen and (min-width: 1280px) {
    .body {
        margin-left: 15rem;
    }
}

a {
    color: black;
    text-decoration: none;
    margin-right: 1rem;
}

.body h1 {
    display: inline;
}

body p {
    display: inline;
}

.today-secition {
    margin-bottom: 2rem;
    z-index: -1;
}

.today-header {
    font-size: 1.9rem;
    margin-bottom: 2rem;
}

.item-title {
    font-size: 1rem!important;
}

.overtime-seciton {
    margin-bottom: 2rem;
}

.overtime-header {
    font-size: 1.4rem;
    display: inline;
    margin-right: 5px;
}

.overtime-item-header {
    font-size: 1rem;
}

.overtime-item-header i {
    margin-right: 1rem;
}

.add-modal-button {
    margin-right: 1rem;
}

.check-button:hover {
    color: #1da19b;
}

.added-alert {
    background-color: #2a2727;
    border-radius: 3px;
    color: white;
    padding: 5px;
    padding-left: 10px;
    width: 20%;
    margin-top: 20px;
    position: fixed;
    bottom: 10px;
    right: 1rem;
}

.checked-alert {
    background-color: #2a2727;
    border-radius: 3px;
    color: white;
    padding: 5px;
    padding-left: 10px;
    width: 40%;
    margin-top: 20px;
    position: fixed;
    bottom: 10px;
    right: 1rem;
}

#overtime-toggle {
    transition: all 0.2s linear;
    position: relative;
    left: 59%;
}

#overtime-toggle.down-overtime {
    transform: rotate(90deg);
}

.today-toggle {
    margin-left: 10px;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    position: relative;
    left: 32%;
}

.today-toggle.down {
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.entry {
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0px 9px rgb(0 0 0 / 0.09);
}

.entry:hover {
    cursor: pointer;
}

.today-entry > p {
    color: #287233;
    margin-top: 5px;
}

.overtime-entry > p {
    color: #cb2821;
}

.overtime-entry.dragging {
    opacity: .5;
}

.overtime-item-id {
    display: none;
}

.today-item-id {
    display: none;
}

form > .delete-button {
    display: inline;
    position: relative;
    top: -60px;
    right: -70.5%;
    padding: 10px;
    border: 0;
    background-color: none;
    background: none;
}

.delete-button {
    /*display: none;*/
    color: #cb2821;
    display: inline;
    position: relative;
    top: -60px;
    right: -74.5%;
    padding: 10px;
    border: 0;
    background-color: none;
    background: none;
}

.today-entry-counter {
    position: fixed;
    top: 10%;
}

.over-time-entry-counter {
    position: relative;
}

@media screen and (min-width: 375px) {
    .delete-button {
        right: -76%;
    }

    .today-toggle {
        left: 35%;
    }

    #overtime-toggle {
        left: 61%;
    }
}

@media screen and (min-width: 390px) {
    .delete-button {
        right: -77%;
    }

    .today-toggle {
        left: 40%;
    }

    #overtime-toggle {
        left: 65%;
    }
}

@media screen and (min-width: 412px) {
    .delete-button {
        right: -79%;
    }

    .today-toggle {
        left: 44%;
    }

    #overtime-toggle {
        left: 67%;
    }
}

@media screen and (min-width: 540px) {
    .delete-button {
        right: -85.3%;
    }

    .today-toggle {
        left: 60%;
    }

    #overtime-toggle {
        left: 76%;
    }
}

@media screen and (min-width: 768px) {
    .delete-button {
        right: -89.3%;
    }

    .today-toggle {
        left: 71%;
    }

    #overtime-toggle {
        left: 83%;
    }
}

@media screen and (min-width: 820px) {
    .delete-button {
        right: -89.3%;
    }

    .today-toggle {
        left: 71%;
    }

    #overtime-toggle {
        left: 83%;
    }
}

@media screen and (min-width: 1024px) {
    .delete-button {
        right: -92.3%;
    }

    .today-toggle {
        left: 80%;
    }

    #overtime-toggle {
        left: 89%;
    }
}

@media screen and (min-width: 1280px) {
    .delete-button {
        right: -93.6%;
    }

    .today-toggle {
        left: 83%;
    }

    #overtime-toggle {
        left: 90%;
    }
}

@media screen and (min-width: 1580px) {
    .delete-button {
        right: -94.6%;
    }

    .today-toggle {
        left: 83%;
    }

    #overtime-toggle {
        left: 90%;
    }
}

@media screen and (min-width: 1400px) {
    .today-toggle {
        left: 86%;
    }

    #overtime-toggle {
        left: 92%;
    }
}

@media screen and (min-width: 1480px) {
    .hambuger-menu-button {
        display: none;
    }


}