hr {
    z-index: -1;
}

.body {
    margin-top: 2rem;
    padding: 3rem;
}

a {
    color: black;
    text-decoration: none;
    margin-right: 1rem;
}

.body h1 {
    display: inline;
}

body p {
    display: inline;
}

.today-secition {
    margin-bottom: 2rem;
    z-index: -1;
}

.today-header {
    font-size: 1.9rem;
    margin-bottom: 2rem;
}

.item-title {
    font-size: 1rem!important;
}

.overtime-seciton {
    margin-bottom: 2rem;
}

.overtime-header {
    font-size: 1.4rem;
    display: inline;
    margin-right: 5px;
}

.overtime-item-header {
    font-size: 1rem;
}

.overtime-item-header i {
    margin-right: 1rem;
}

.add-modal-button {
    margin-right: 1rem;
}

.check-button:hover {
    color: #1da19b;
}

.added-alert {
    background-color: #2a2727;
    border-radius: 3px;
    color: white;
    padding: 5px;
    padding-left: 10px;
    width: 20%;
    margin-top: 20px;
    position: fixed;
    bottom: 10px;
    right: 1rem;
}

.checked-alert {
    background-color: #2a2727;
    border-radius: 3px;
    color: white;
    padding: 5px;
    padding-left: 10px;
    width: 40%;
    margin-top: 20px;
    position: fixed;
    bottom: 10px;
    right: 1rem;
}

#overtime-toggle {
    transition: all 0.2s linear;
}

#overtime-toggle.down-overtime {
    transform: rotate(90deg);
}

.today-toggle {
    margin-left: 10px;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.today-toggle.down {
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.today-entry > p {
    color: #287233;
}

.overtime-entry > p {
    color: #cb2821;
}

.overtime-item-id {
    display: none;
}

.today-item-id {
    display: none;
}