@model Todo.Models.ViewModels.RegisterViewModel

<div class="register-body container">

    <div class="row card-container">
        <div class="col-md-12 register-card">
            <form id="registerForm" method="post" action="/User/UserManage/Register">
                <h2>Erstelle ein neues Profil</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="">
                    <input asp-for="Email" class="" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <hr />
                <div class="">
                    <input asp-for="Name" class="" autocomplete="new-password" aria-required="true" placeholder="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <hr />
                <div class="">
                    <input asp-for="Password" class="" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <hr />
                <div class="">
                    <input asp-for="ConfirmPassword" class="" autocomplete="new-password" aria-required="true" placeholder="Bestätige password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <hr />
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            </form>
            <a asp-area="User" asp-controller="UserManage" asp-action="Login">Du hast bereits ein Profil?</a>
        </div>

        <!--Todo needed when adding login with facebook-->
        <div class="">
            <section>
            </section>
        </div>
    </div>
</div>
