@model TodoEntry

<form method="post" action="/Customer/Home/AddDetail" class="detail-form">
    <i class="fa-solid fa-xmark detail-close-button" id="detail-close-button" onclick="closeModal()"></i>

    <input class="detial-title" asp-for="Title" placeholder="Titel" />

    <input class="detail-description" asp-for="Description" placeholder="Beschreibung" />

    <div class="detail-date-section">
        <label asp-for="StartDate">Beginn</label>
        <input class="detail-startdate" asp-for="StartDate" placeholder="Vom" />

        <label asp-for="EndDate">Endet</label>
        <input class="detail-enddate" asp-for="EndDate" placeholder="Bis" />
    </div>
    

    <div class="detail-checkboxes">
        <input asp-for="Id" hidden/>
    </div>

    <div class="detail-checkboxes">
        <input asp-for="ApplicationUserId" hidden />
    </div>

    <div class="detail-checkboxes" hidden>
        <input asp-for="IChecked" type="checkbox" placeholder="Erledigt" />
        <label asp-for="IChecked"></label>
        <input asp-for="IDeleted" type="checkbox" placeholder="Gelöscht" />
        <label asp-for="IDeleted"></label>
    </div>

    <div class="detail-category-prio">
        <select asp-for="CategoryId" asp-items="ViewBag.Categories">
        </select>

        <select asp-for="PriorityId" asp-items="ViewBag.Priorities">
        </select>
    </div>

    <div class="detail-category-prio">
        <select asp-for="ProjectId" asp-items="ViewBag.projects">
        </select>
    </div>

    <div class="">
        <button class="store-entry" type="submit">Speichern</button>
    </div>
</form>
