@model List<TodoEntry>

<div class="Results">
    @{
        foreach(TodoEntry todo in Model)
        {
            <a class="search-bar-link">
                <div>
                    <p>@todo.Title</p>
                </div>
                <div id="search-link-id"></div>
            </a>
        }
    }
</div>
