@model List<TodoEntry>

<div class="Results">
    @{
        foreach(TodoEntry todo in Model)
        {
            <div hx-get="Admin/Today/Detail?id=@todo.Id" hx-target="#detail-page" hx-trigger="click" onclick="ShowModal()" class="">
                <div>
                    <p>@todo.Title</p>
                </div>
            </div>
        }
    }
</div>
