@model List<TodoEntry>

<div class="Results">
    @{
        foreach(TodoEntry todo in Model)
        {
            <a href="#" class="">
                <div>
                    <p>@todo.Title</p>
                </div>
            </a>
        }
    }
</div>
